.gallerie{

   &_cadre1 img{
    margin-left: 1em;
       width: 10em;
       height: 7em;
   }
   &_cadre2 img{

    width: 10em;
    height: 7em;
   }

   &_cadre3 img{
    width: 28em;
    height: 7em;
   }

   &_cadre4 img{
    width: 20em;
    height: 7em;
   }

   &_cadre5 img{
    margin-left: 1em;
    width: 21em;
    height: 7em;
   }

   &_cadre6 img{
    width: 28em;
    height: 24em;
   }
   
   &_cadre7 img{
    
    width: 10em;
    height: 7em;
   }

   &_cadre8 img{
    width: 9em;
    height: 7em;
   }
   &_cadre9 img{
    margin-left: 1em;
    
    width: 21em;
    height: 7em;
   }
   &_cadre10 img{
   
    width: 10em;
    height: 7em;
   }

   &_cadre11 img{
    
    width: 9em;
    height: 7em;
   }
   &_cadre12 img{
    margin-left: 1em;
    width: 10em;
    height: 7em;
}

&_cadre13 img{

    width: 10em;
    height: 7em;
}

&_cadre14 img{
    width: 10em;
    height: 7em;
   }

   &_cadre15 img{
    width: 9em;
    height: 7em;
}
&_cadre16 img{
    margin-left: 1em;
    width: 28em;
    height: 7em;
}
&_cadre17 img{
    width: 10em;
    height: 7em;
}
&_cadre18 img{
    width: 10em;
    height: 7em;
}
&_cadre19 img{
    width: 20em;
    height: 7em;
   }

 



   }












