$text-color-primary: hsl(192, 100%, 9%);
$text-color-secondary: hsl(208, 11%, 55%);
$color-accent: hsl(322, 100%, 66%);
$main-box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.5);
$footer-color: hsl(192, 100%, 96%);
$trans-cubic: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); //des transitions sur les boutons
$color-hero:#c5ebf9;
$color-button:white;
$color-header:#fcfff4;
$color-label: #bbb;
$color-hover-header:#ccc;
$color-border-hover: #777;
$color-black: #000;

$color-primary: #56ccc8;
$color-secondary: #ea6060;
$color-background: #4b6480;

$shadow-color: hsl(0, 0%, 53%);
$mobile: 375px;
$desktop: 1440px;
$font-size: 1.8rem;
$weight-poppins: 600;
$weight-open-sans: 400;
$weight-open-sans-bolder: 700;